.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

/***solution es.1**/
.ex-1-square:hover{
    background-color: red;
    transition: background-color 5s;
}
/******/
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

/***solution es.2***/
.ex-2-square:active{
    width: 100%;
    transition: width 5s;
}
/******/

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
/***solution es.3***/
.ex-3-square:hover{
    border-radius: 100px;
    transition: border-radius 5s;
}
/******/

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
/***solution es.4***/
.ex-4-square:hover{
    opacity: 0;
    transition: opacity 5s;
}
/******/
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
/***solution es.5***/
.ex-5-square:hover{
    transform: scale(1.5);
}

.ex-5-square:active{
    transform: scale(0.7);
}
/******/
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/***solution es.6***/
.ex-6-img:hover{
    filter: grayscale(1);
}
/******/
/***solution es.7***/
.ex-7-img:hover{
    filter: sepia(0.7);
    transition: filter 4s;
}
/******/
/***solution es.8***/
.ex-8-img:hover{
    filter: sepia(0.75) opacity(0.2);
    border-radius: 20px;
}
/******/
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
/***solution es.9***/
.ex-9-img:hover{
    filter: contrast(3) saturate(1);
    border-radius: 30px;
    transform: scale(1.5);
}
/******/

.ex-10-icon {
    font-size: 60px;
}
/***solution es.10***/
.ex-10-icon{
    animation: caricamento 1s linear infinite;
}

@keyframes caricamento{
   0%{
    transform: rotate(1turn);
   }
}
/******/
.ex-11-icon {
    font-size: 60px;
}
/***solution es.11***/
.ex-11-icon:hover{
    animation: caricamento 2s;
}

@keyframes caricamento{
   0%{
    transform: rotate(0);
   }
   75%{
    transform: rotate(315deg);
   }
   100%{
    transform: rotate(0);
   }
}
/******/
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/***solution es.12***/
.ex-12-button:hover .ex-12-top-white{
    animation: dancetop 2s;
}

@keyframes dancetop{
   0%{
    left: 15%;
   }
   50%{
    left: 70%;    
   }
   100%{
    left: 15%;
   }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: dance 2s;
}

@keyframes dance{
   0%{
    right: 15%;
   }
   50%{
    right: 70%;    
   }
   100%{
    right: 15%;
   }
}
/******/